

body { 
    min-height: 100vh;
    background-color: beige;
}

main  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    border: 3px solid black;
    background-image: no-repeat url('https://ubuweb.com/images/beckett_header_new.jpg');
    box-shadow: 
    3px 3px 0px 0px black, 
    6px 6px 0px 0px black, 
    9px 9px 0px 0px  black;
}


h1 {
    font-family: Anton;
}
p {
    letter-spacing: 1px;
    transition: letter-spacing 1s;
}

p:hover {
    letter-spacing: 4px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: flex-start;
    justify-content: space-between;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 15px 25px;
    border: 3px solid black;
    margin-bottom: 20px;
    max-height: 15vh;
    box-shadow: 
        3px 3px 0px 0px black, 
        6px 6px 0px 0px black, 
        9px 9px 0px 0px  black;
}

nav { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
a { 
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 0px;
    transition: all 2.5s;
}
/* BOTÃO */
button {
    background: none;
    border: 3px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 2.5s;
    box-shadow: 
    3px 3px 0px 0px black, 
    6px 6px 0px 0px black, 
    9px 9px 0px 0px  black;
}

button:hover {
    background: black;
    color: white;
}

/* BARRA DE BUSCA */

input {
    width: 600px;
    background: none;
    border: 3px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    margin-left: 0.9em;
    box-shadow: 
    3px 3px 0px 0px black, 
    6px 6px 0px 0px black, 
    9px 9px 0px 0px  black;
}

input:focus {
    outline: none;
    border-color: red;
}
#menu { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;

}
.login > button {
    font-size: 16px;
    margin-left: 16px;
}
.underline {
    width: 30px;
    height: 2px;
    background-color: black;
    border: 1px solid black;
    transition: width 1.5s;
}

.logo:hover .underline {
    width: 300px;
}

